body {
  background-color: #fff5f2;
  font-family: sans-serif;
}
.myWeatherApp {
  background: #f6d2d2;
  max-width: 600px;
  margin: 60px auto;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
}
/*h1 {
  padding-bottom: 20px;
  text-align: center;
}*/

.search-input {
  background-color: #f9f7fe;
  border: none;
  color: rgba(39, 33, 66, 0.4);
  font-size: 16px;
  padding: 20px;
  width: 75%;
  border-radius: 6px;
}

.search-button {
  margin-left: 5px;
  font-size: 16px;
  background-color: #4bb3a8;
  color: white;
  border: none;
  padding: 20px;
  line-height: 1;
  border-radius: 5px;
}

.current-temperature {
  font-size: 48px;
}

.current-weather {
  display: flex;
  justify-content: space-between;
}

.current-city {
  font-size: 38px;
  font-weight: 900;
  margin: 0;
  padding-top: 20px;
}
.current-details {
  color: rgba(39, 33, 66, 0.4);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.current-details strong {
  color: #f65282;
}

.current-temperature-icon {
  position: relative;
  top: -8px;
  font-size: 40px;
  margin-right: 10px;
}

.current-temperature-value {
  font-size: 80px;
  font-weight: bold;
}

.current-temperature-unit {
  font-size: 28px;
  position: relative;
  top: -38px;
}

footer {
  border-top: 1px solid #f9f7fe;
  text-align: center;
  padding-top: 15px;

  color: rgba(39, 33, 66, 0.4);
}
